<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>OpenStack IRC meetings</title>
</head>
<body>

<h1>OpenStack IRC meetings</h1>

<h2>Logging</h2>
<p>OpenStack IRC channels and meetings are logged. You can find them here:</p>
<ul>
<li><a href="irclogs/">Channel Logs</a></li>
<li><a href="meetings/">Meeting Logs</a></li>
</ul>

<h2>Meeting schedule</h2>
<p>
<p>The IRC meetings schedule is driven by the
<a href=http://git.openstack.org/cgit/openstack-infra/irc-meetings/tree/>openstack-infra/irc-meetings</a> repository.
To propose a change, please submit a change to that repository in Gerrit.</p>
<p>Here is the link to an ICS file containing all OpenStack IRC meetings, for
use in your favorite calendaring app:</p>
<ul>
<li><a href="irc-meetings.ical">iCalendar Meeting Schedule</a><br/></li>
</ul>
<p>Here is a list of current meetings with their descriptions:</p>
<ul>
{% for meeting in meetings|sort(attribute='project') %}
<li><a href="#{{ meeting.project|replace(' ', '_') }}">{{ meeting.project }}</a></li>
{% endfor %}
</ul>


{% for meeting in meetings|sort(attribute='project') %}
<a id="{{ meeting.project|replace(' ', '_') }}"><h3>{{ meeting.project }}</h3></a>

<ul>
{% for schedule in meeting.schedules %}
<li>{{ schedule.recurrence }} on {{ schedule.day }} at
<a href="http://www.timeanddate.com/worldclock/fixedtime.html?hour={{ schedule.utc[:2] }}&amp;min={{ schedule.utc[2:] }}&amp;sec=0">{{ schedule.utc }} UTC</a>
in <a href="ircs://irc.freenode.net:6697/{{ schedule.irc }}">#{{ schedule.irc }}</a>
<a href="https://webchat.freenode.net/?randomnick=1&channels=%23{{ schedule.irc }}&prompt=1&uio=d4">(IRC webclient)</a>
</li>
{% endfor %}
<li>Chair (to contact for more information): {{ meeting.chair }}</li>
<li>{{ meeting.description|urlize }}</li>
{% if meeting.extras.meeting_id %}
<li><a href="http://eavesdrop.openstack.org/meetings/{{meeting.extras.meeting_id}}/">Logs from past meetings</a>
{% endif %}
{% if meeting.extras.agenda_url %}
<li><a href="{{meeting.extras.agenda_url}}">Agenda</a>
{% endif %}
</ul>

{% endfor %}
<small>Page generated on {{ timestamp }} UTC</small>
</body>
</html>
